* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #2C3333;
}

.product-img {
    max-width: 250px;
    height: 100%;
    object-fit: contain;
}

.form {
    border-radius: 20px;
    box-shadow: 5px 5px 4px 5px #fdfbfb;
    max-width: 85%;
}

.redeem {
    border-radius: 10px;
    border: 1px solid white;
    min-height: 100px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}